* {
  margin: 0;
  padding: 0;
}
.logo {
  margin-top: 2px;
  width:58px;
  background-color: rgb(204, 228, 249);
  border-radius: 50%;
}
.encabezado {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Secular One', sans-serif;
  background-color: rgb(55, 142, 218);
}
body {
  background-image: url(imagenes/prritos5.jpg);
  background-size: cover;
}
h1 {
  display: flex;
  margin-top: 5vh;
  justify-content: center;
  font-family: 'Concert One', cursive;
  color: rgb(56, 134, 202);
}
.insesion {
  width: 520px;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  background-color: rgb(91, 158, 216);
  border-radius: 10px;
  opacity: 85%;
}
a {
  color: rgb(43, 7, 83);
  font-family: 'Secular One', sans-serif;
}
.noacc {
  font-family: 'Secular One', sans-serif;
}
h2 {
  display: flex;
  justify-content: center;
}
.user {
  display: flex;
  margin-top: 5vh;
  justify-content: center;
}
.pass {
  display: flex;
  margin-top: 5vh;
  justify-content: center;
}
.forgot {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}
.insesion input {
  display: flex;
  width: 80%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  justify-content: center;
}
.boton {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  align-items: center;
  margin-left: 7vh;
  background-color: rgb(41, 116, 177);
}
.noacc {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}
.insesion a {
  color: rgb(132, 205, 205);
}
.insesion h2 {
  font-family: 'Secular One', sans-serif;
}
.encabezado a:hover {
  font-size: 17px;
}
.imgvet {
  width: 400px;
  border-radius: 10px;
}
.redes {
  background-color: rgb(0, 0, 0);
  display: flex;
  padding: 2px;
  align-items: center;
  width: 400px;
  justify-content: space-around;
  justify-content: flex-end;
}
.imginst {
  display: flex;
  width: 25px;
}
.imgig {
  display: flex;
  width: 50px;
  justify-content: center;
}
.imgig:hover {
  display: flex;
  width: 50px;
}
h3 {
  color: white;
  width: 150px;
}
.fondredes {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: flex-end;
  margin-top: 28vh;
}
.contenido {
  display: flex;
  justify-content: space-around;
}
