*{
  margin: 0;
  padding: 0;      
}
body {
  display: block;
  background-image: url(imagenes/map.png);
  background-size: cover;
  background-repeat: no-repeat;
  
}
.logo {
  width: 58px;
  border-radius: 50px;
  background-color: rgb(204, 228, 249);
  margin-top: 2px;
}
.cabeza {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Secular One', sans-serif;
  background-color: rgb(55, 142, 218);
}
a {
  font-family: 'Secular One', sans-serif;
  color: rgb(43, 7, 83);
}
a:hover {
  font-size: 17px;
}
.cont1 {
  display: flex;
  flex-direction: column;
  width: 450px ;
  margin: 10px;
  background-color: rgb(161, 206, 246);
  margin-top: 10vh;
  border-radius: 15px;
  padding: 0.5%;
  justify-content: center;
}
.contenido {
  display: flex;

  justify-content: space-around;
}
.cont2 {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 12px;
  background-color: rgb(161, 206, 246);
  margin-top: 10vh;
  padding: 0.5%;
  border-radius: 15px;
  justify-content: space-around;
}
.lists {
  display: flex;
  justify-content: space-around;
}
h2 {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-family: 'Concert One', cursive;
}
li:hover {
  color: black;
  border-radius: 15px;
  color: rgb(20, 5, 107);
}
img {
  border-radius: 10px;
}
.fondredes {
  display: flex;
  background-color: black;
  justify-content: flex-end;
  margin-top: 8vh;
}
.imginst {
  display: flex;
  width: 25px;
}
.imgig {
  display: flex;
  width: 50px;
  justify-content: center;
}
.redes {
  display: flex;
  justify-content: space-around;
}
h3 {
  color: white;
}
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  font-size: 25px;
  color: rgb(24, 3, 81);
}